.main {
  padding: 110px 20px 50px;
  width: calc(100% - 40px);
}

.profile {
  height: 70px;
  margin: 10px 0;
}
.borderBotton::after {
  content: "";
  display: block;
  width: calc(100% + 40px);
  margin-left: -20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}
.friendProfile {
  height: 70px;
  margin: 10px 0;
  border-bottom: 0;
}
.profileImage {
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}
.profileImageCake {
  background: #e1737c;
  border-radius: 38%;
}
.fa-birthday-cake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #fff;
  margin-left: 0;
}
.image {
  width: 100%;
  border-radius: 38%;
}

.name {
  float: left;
  font-size: 18px;
  height: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.date {
  float: right;
  font-size: 14px;
  height: 70px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.chat {
  color: #0f0f0f;
  font-size: 14px;
  margin-top: 6px;
}
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #b48d8e;
  border-bottom: 6px solid transparent;
}
span {
  vertical-align: middle;
}
.arrow {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
}
.smallMainText {
  font-size: 12px;
  margin-bottom: 10px;
}
.upDownToggle {
  float: right;
  vertical-align: middle;
  font-weight: 900;
  font-size: 18px;
}
